body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
    margin-bottom: 2.5vw;
    background-color: white;
    box-shadow: 1px 1px 10px hsl(0, 0%, 90%);
}

.darkmode-box {
    display: flex;
    font-weight: 600;
}

.fa-moon {
    margin: auto 0;
}

.darkmode-text {
    margin: auto 1vw auto .3vw;
}

@media only screen and (max-width: 400px) {
    .header-container {
        width: 100%;
        padding: 5vw 4vw 5vw 4vw;
    }

    .header-title {
        font-size: 5vw;
    }

    .darkmode-text {
        margin: auto 9vw auto 2vw;
    }
}