.interactions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SEARCH BAR */

.search-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.search-form {
    width: 70%;
    height: 3.5vw;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    margin-left: 2vw;
    box-shadow: 1px 1px 25px hsl(0, 0%, 93%);
}

.search-input-field {
    width: 85%;
    border: none;
    font-weight: 600;
    font-size: 1vw;
    border-radius: 5px;
}

.search-input-field::placeholder {
    color: hsl(0, 0%, 65%);
}

.search-input-field:focus {
    outline: none;
}

.search-submit-btn {
    width: 15%;
    background-color: white;
    border: none;
    color: hsl(0, 0%, 65%);
    font-size: 1vw;
    border-radius: 5px;
}

.search-submit-btn:focus {
    outline: none;
}

/* FILTER DD */

.dd-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.dd-header {
    width: 15vw;
    height: 100%;
    margin-right: 2.8vw;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 1px 1px 25px hsl(0, 0%, 93%);
}

.dd-header:hover {
    cursor: pointer;
}

.dd-header-title {
    padding-left: 1vw;
    margin: auto 0;
}

.dd-arrows {
    margin: auto 0;
    padding-right: 1vw;
}

.dd-list {
    width: 15vw;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding: 0;
    margin-top: 4.25vw;
    margin-left: -2.7vw;
    list-style-type: none;
}

.dd-list-item {
    padding: .5vw 0 .5vw 1vw;
    font-weight: 600;
}

.dd-list-item:hover {
    cursor: pointer;
    font-weight: 800;
}

@media only screen and (max-width: 1000px)  {
    .search-form {
        height: 7vw;
        margin: 3.5vw;
    }

    .search-input-field {
        font-size: 2vw;
    }

    .search-submit-btn {
        font-size: 2vw;
    }

    .dd-header {
        height: 50%;
        margin: auto 5.5vw auto 0;
        font-size: 1.5vw;
    }
}